<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_page.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @admin_page.content %>
</p>

<p>
  <strong>Link:</strong>
  <%= @admin_page.link %>
</p>
<div class='footer-btns'>
	<%= link_to 'Edit', edit_admin_page_path(@admin_page), :class=>"btn btn-default" %>
	<%= link_to 'Back', admin_pages_path, :class=>"btn btn-default" %>
</div>

