<h3>Newsletter</h3>
{{#with newsletter}}
<p>
	{{input value=name placeholder='Name' class='form-control'}}
</p>
<p>
	{{input value=email placeholder='Email' class='form-control'}}
</p>
<p>
	{{input value=birthdate placeholder='Birth Date' class='form-control'}}
</p>
<p>
	{{input value=zip placeholder='Zip Code' class='form-control'}}
</p>
<p>
	{{input value=city placeholder='City' class='form-control'}}
</p>
<p>
	{{input value=country placeholder='Country' class='form-control'}}
</p>
<p>
	{{check-box id='has_mortgage_news' value=hasMortgageNews label='Mortgage News'}}
</p>
<p>
	{{check-box id='has_special_events' value=hasSpecialEvents label='Special Events'}}
</p>
<p>
	{{check-box id='has_interest_rate_updates' value=hasInterestRateUpdates label='Interest Rate Updates'}}
</p>
<p>
	<button {{action 'save'}} class='btn btn-primary'>Subscribe</button>
	{{#link-to 'index' class='btn'}}Cancel{{/link-to}}
</p>
{{/with}}